
// Colors
$background-primary: #f6f6f6;
$background-secondary: #ffffff;
$background-tertiary: #fafafa;

$elements-primary: #1a1919;
$elements-secondary: #666666;
$elements-tertiary: #a5a5a5;
$elements-quaternary: #dedede;

$accent-primary: #856d51;

$color-danger: #ff4949;
